<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DetectBoard by Loïc Messal</title>

  <!-- bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

  <!-- vuejs -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <!-- d3js -->
  <script src="https://d3js.org/d3.v4.min.js"></script>

  <style>
    body {
      background-color: #f5f5f5;
    }

    .footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 1.2rem;
      line-height: 1.2rem;
      background-color: #f5f5f5;
    }

    body {
      overflow-x: auto;
    }

    .line {
      fill: none;
      stroke: steelblue;
      stroke-width: 1px;
    }

    .zoom {
      cursor: grab;
      fill: none;
      pointer-events: all;
    }

    .zoom:active {
      cursor: grabbing;
    }

    .overlay {
      opacity: 0.95;
      background: rgba(114, 114, 114, 1);
      width: 100%;
      height: 100%;
      z-index: 10;
      top: 0;
      left: 0;
      position: fixed;
      display: none;
    }

    .overlay * {
      pointer-events: none;
    }
  </style>
</head>

<body>
  <div id="app">
    <main>
      <div class="container">
        <div class="row my-4">
          <div class="col-12">
            <h1 class="text-center my-4">DetectBoard</h1>
            <h4 class="text-center">A simple detectron board to visualize the training process.</h4>
            <div>
              <div v-if="log_file" class="text-center my-5">
                <h3 class="text-center">Current log file : </h3>
                <p> {{log_file.log_file}} <span class="text-muted">({{log_file.uploaded_at}})</span></p>
              </div>
              <div v-else class="text-center my-5">
                <p class="pt-5"> <strong>How to do a detectron log file ?</strong></p>
                <p> Pipe the training command with the following : </p>
                <code>
                  python2 tools/train_net.py --cfg ... OUTPUT_DIR ... | tee -a &lt;your training log filename&gt;.log 
                </code>
                <img src="detectboard.gif" class="img-fluid border border-secondary w-50 mt-5 rounded" alt="">
              </div>
            </div>
          </div>
        </div>
        <div v-show="logUploaded" class="row">
          <div class="col-12">
            <div style="position: relative" class="d-flex justify-content-center">
              <div style="position: absolute;">
                <!-- TODO(tofull) Transform svg into responsive element. Help wanted. -->
                <svg width="960" height="500"></svg>
              </div>
              <div style="position: absolute; left:calc(50% - 960px/2); top: -2em !important;">
                <select v-model="y_selected" v-on:change="resetGraph" class="form-control">
                  <option v-for="props in list_property" :value="props">{{props}}</option>
                </select>
              </div>
              <div style="position: absolute; left:calc(50% + 480px); top: calc(500px - 110px - 1em) !important; ">
                <div class="form-group">
                  <select v-model="x_selected" v-on:change="resetGraph" class="form-control" style="width: min-content">
                    <option v-for="props in list_property" :value="props">{{props}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="overlay">
            <div class="h-100 row align-items-center text-center text-light">
              <div class="col">
                <div class="display-4">
                  Drop your detectron log file here.
                </div>
                <p>
                  (Don't worry about privacy, DetectBoard is just a client-side tool)
                </p>
              </div>
            </div>
          </div>
        </div>
    </main>
    <footer class="footer">
      <div class="container text-center">
        <span class="text-muted ">Thanks <a target="_blank" href="https://twitter.com/intent/tweet?text=Thanks%20@_Tofull%20for%20the%20DetectBoard!%20%20-->%20https://tofull.github.io/tools/detectboard%21&related=_Tofull&via=_Tofull&hashtags=DL%2CAI%2Cdetectron%2Ctraining%2Ctool">Loïc
            Messal </a>!</span>
      </div>
    </footer>
    </div>

    <script>
      var app = new Vue({
        el: '#app',
        data: {
          log_file: null,
          y_selected: 'loss',
          x_selected: 'iter',
          d3data: null
        },
        methods: {
          resetGraph: function (event) {
            updateGraph(this.d3data);
          }
        },
        computed: {
          logUploaded: function () {
            if (this.log_file) {
              return true;
            }
            return false;
          },
          list_property: function() {
            let list_property = []
            if (this.d3data && typeof this.d3data !== 'undefined' && this.d3data.length > 0) {
              // Suppose all detectron json objects have the same schema. So only parse the first item.
              for (let key of Object.keys(this.d3data[0])) {
                if (Number.isFinite(this.d3data[0][key])) {
                  list_property.push(key)
                }
              }
            }
            return list_property;
          }
        }
      })

      $(window).bind('dragover', handleDragOver);
      $(window).bind('drop', handleFileSelect);
      $('.overlay').bind('dragleave', handleDragLeave);

      var svg = d3.select("svg"),
        margin = { top: 20, right: 20, bottom: 110, left: 40 },
        margin2 = { top: 430, right: 20, bottom: 30, left: 40 },
        width = +svg.attr("width") - margin.left - margin.right,
        height = +svg.attr("height") - margin.top - margin.bottom,
        height2 = +svg.attr("height") - margin2.top - margin2.bottom;

      var x = d3.scaleLinear().range([0, width]),
        x2 = d3.scaleLinear().range([0, width]),
        y = d3.scaleLinear().range([height, 0]),
        y2 = d3.scaleLinear().range([height2, 0]);

      var xAxis = d3.axisBottom(x),
        xAxis2 = d3.axisBottom(x2),
        yAxis = d3.axisLeft(y);

      var brush = d3.brushX()
        .extent([[0, 0], [width, height2]])
        .on("brush end", brushed);

      var zoom = d3.zoom()
        .scaleExtent([1, Infinity])
        .translateExtent([[0, 0], [width, height]])
        .extent([[0, 0], [width, height]])
        .on("zoom", zoomed);

      var line = d3.line()
        .x(function (d) { return x(d[app.x_selected]); })
        .y(function (d) { return y(d[app.y_selected]); }).curve(d3.curveCardinal);

      var line2 = d3.line()
        .x(function (d) { return x2(d[app.x_selected]); })
        .y(function (d) { return y2(d[app.y_selected]); }).curve(d3.curveBasis);

      var clip = svg.append("defs").append("svg:clipPath")
        .attr("id", "clip")
        .append("svg:rect")
        .attr("width", width)
        .attr("height", height)
        .attr("x", 0)
        .attr("y", 0);

      var Line_chart = svg.append("g")
        .attr("class", "focus")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
        .attr("clip-path", "url(#clip)");

      var focus = svg.append("g")
        .attr("class", "focus")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      var context = svg.append("g")
        .attr("class", "context")
        .attr("transform", "translate(" + margin2.left + "," + margin2.top + ")");

      function handleDragLeave(event) {
        event.stopPropagation();
        $('.overlay').hide();
      }

      function handleDragOver(event) {
        event.stopPropagation();
        event.preventDefault();
        event.originalEvent.dataTransfer.dropEffect = 'copy'; // Explicitly show this is a copy.
        $('.overlay').show();
      }

      function handleFileSelect(event) {
        var files = event.originalEvent.dataTransfer.files; // FileList object
        event.stopPropagation();
        event.preventDefault();
        $('.overlay').hide();

        for (var i = 0, file; file = files[i]; i++) {
          readFile(file, updateView);
        }
      }

      function readFile(file, cb) {
        var reader = new FileReader;
        reader.onload = function (e) {
          cb(e.target.result, file);
        };
        reader.readAsText(file);
      }

      function updateView(content, file) {
        app.log_file = {} || app.log_file;
        app.log_file.log_file = file.name;
        app.log_file.uploaded_at = new Date().toLocaleDateString([], { hour: '2-digit', minute: '2-digit' });

        let data = readData(content);
        app.d3data = data
        updateGraph(data)
      }


      function readData(content) {
        let data = []
        var txt = content.split("\n");

        for (var i = 0; i < txt.length; i += 1) {
          let block = txt[i];
          // Detect line starting with json_stats
          if (block.startsWith("json_stats")) {
            // Get only the json block
            block = block.replace('json_stats:', '')
            // parse as JSON and push into data ARRAY
            data.push(JSON.parse(block));
          }
        }
        return data;
      }

      function updateGraph(data) {
        svg.selectAll("*").remove();

        x.domain(d3.extent(data, function (d) { return d[app.x_selected]; }));
        y.domain([0, d3.max(data, function (d) { return d[app.y_selected]; })]);
        x2.domain(x.domain());
        y2.domain(y.domain());

        Line_chart = svg.append("g")
          .attr("class", "focus")
          .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
          .attr("clip-path", "url(#clip)");

        focus = svg.append("g")
          .attr("class", "focus")
          .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        context = svg.append("g")
          .attr("class", "context")
          .attr("transform", "translate(" + margin2.left + "," + margin2.top + ")");

        focus.append("g")
          .attr("class", "axis axis--x")
          .attr("transform", "translate(0," + height + ")")
          .call(xAxis);

        focus.append("g")
          .attr("class", "axis axis--y")
          .call(yAxis);

        var path = Line_chart.append("path")
          .datum(data)
          .attr("class", "line")
          .attr("d", line)

        path
          .attr("stroke", "black")
          .attr("stroke-dasharray", function (d) { return this.getTotalLength() })
          .attr("stroke-dashoffset", function (d) { return this.getTotalLength() })

        var t = d3.transition()
          .duration(4000)
          .ease(d3.easeQuadOut)

        Line_chart.selectAll(".line").transition(t)
          .attr("stroke-dashoffset", 0)

        context.append("path")
          .datum(data)
          .attr("class", "line")
          .attr("d", line2);

        context.append("g")
          .attr("class", "axis axis--x")
          .attr("transform", "translate(0," + height2 + ")")
          .call(xAxis2);

        context.append("g")
          .attr("class", "brush")
          .call(brush)
          .call(brush.move, x.range());

        svg.append("rect")
          .attr("class", "zoom")
          .attr("width", width)
          .attr("height", height)
          .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
          .call(zoom);
      };

      function brushed() {
        if (d3.event.sourceEvent && d3.event.sourceEvent.type === "zoom") return; // ignore brush-by-zoom
        var s = d3.event.selection || x2.range();
        x.domain(s.map(x2.invert, x2));
        Line_chart.select(".line").attr("d", line);
        focus.select(".axis--x").call(xAxis);
        svg.select(".zoom").call(zoom.transform, d3.zoomIdentity
          .scale(width / (s[1] - s[0]))
          .translate(-s[0], 0));
      }

      function zoomed() {
        if (d3.event.sourceEvent && d3.event.sourceEvent.type === "brush") return; // ignore zoom-by-brush
        var t = d3.event.transform;
        x.domain(t.rescaleX(x2).domain());
        Line_chart.select(".line").attr("d", line);
        focus.select(".axis--x").call(xAxis);
        context.select(".brush").call(brush.move, x.range().map(t.invertX, t));
      }
    </script>
</body>

</html>